
body {
    color: #fff;
    background-color: #090E21;
    font-family: Raleway, Arial, sans-serif;
    font-size: 30px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#199292;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

nav a {
    color: #f3eded;
    padding: 35px;
    margin-left: 150px;
    margin-top: 25px;
    text-align: none;
    text-decoration: none;
    
}

nav a:hover{
    background-color: rgb(133, 139, 139);
}

.logo{
    padding-top: 10px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    width: 115px;
}
s
.home-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(3, 1fr);
}

.x{
    display:flex;
}
.h1{
    grid-row: 1/1;
    grid-column: 2/2;
    width: 100%;
}

.p1{
    grid-row: 2/2;
}

.utah{

    width: 500px !important;
    height: 500px !important;
    margin: 75px;
}

footer{
    background-color: #199292;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 25px;
    width: 60px;

}
